body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.2fr, 1.5fr, 1.2fr, 0.8fr;
    grid-template-areas:
    "nav nav nav nav nav nav"
    "main main main main main main"
    "about about about about about about"
    "contact contact contact sidebar sidebar sidebar"
    "footer footer footer footer footer footer";
    gap: 0.5rem;
    text-align: center;
}

.Logos{
    width: 150px;
}
nav{
    grid-area: nav;
    background-color: rgb(65, 0, 0);
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    list-style: none;
}

nav ul a{
    color: rgb(241, 216, 216);
    text-decoration: none;
    font-size: 30px;
}

nav ul a:hover{
    background-color: white;
    color: red;
}



main{
    grid-area: main;
    
}

main h2{
    width: 100%;
}

main img{
    object-fit: cover;
    width: 100%;
    height: 500px;
}



.sidebar{
    grid-area: sidebar;
    background-color: rgb(65, 0, 0);
    color: white;
    
}

.sidebar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    text-align: left;
}

.about{
    grid-area: about;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    
}

.about__container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.jdmcar{
    margin: 40px;
}

.jdmcar img{
    width: 500px;
    }

.contact{
    grid-area: contact;
    background-color: rgb(65, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
}




footer{
    grid-area: footer;
    background-color: rgb(65, 0, 0);
    color: white;
}


@media only screen and (max-width: 600px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr, 0.4fr, 2.2fr, 1.2fr;
        grid-template-areas: 
        "nav"
        "main"
        "sidebar"
        "about"
        "contact"
        "footer";
    }
}
